/*
Name: Isaac Sakyi-Djan
Date: 03/10/2026
File: styles.css
Description: Styles for Wild Rescues Bootstrap site
*/

body{
font-family: Arial, Helvetica, sans-serif;
background-color:#f6eee4;
color:#2a1f14;
}


/* NAVBAR */

.navbar{
background-color:#2a1f14;
}


/* HERO IMAGE */

.hero{

background:url("images/baby-hawk.jpg") center center / cover no-repeat;

height:500px;

position:relative;

}


/* HERO BUTTON POSITION */

.hero-overlay{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%, -50%);

}


/* BUTTON COLOR */

.bg-brown{

background-color:#2a1f14;

}


/* FOOTER */

footer{

background:#2a1f14;

}


/* MOBILE RESPONSIVE */

@media (max-width:768px){

.hero{
height:350px;
}

}
